<div class="navbar mc2-nav fixed">
  <div class="">
    <div class="container">
      <%= link_to root_path, :class=>'brand' do %>
        <%= image_tag 'logo.png'%>
      <% end %>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li><a href="#">孵化服务</a></li>
          <li><a href="#">毕业团队</a></li>
          <li><a href="#">关于我们</a></li>
        </ul>
        <ul class="nav user pull-right">
          <% if current_user %>
            <li>
              <%= link_to t('user.logout'), destroy_user_session_path, :method => :delete%>
            </li>
          <% else %>
            <li>
              <%= link_to t('user.login'), new_user_session_path %>
            </li>
            <li>
              <%= link_to t('user.signup'), new_user_registration_path %>
            </li>
          <% end %>
        </ul>
      </div>

    </div>
  </div>
  <%= render 'shared/flash', :flash=>flash%>
</div>
